.post {
  border: 1px solid rgb(209, 198, 198);
  border-radius: 10px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 5px 10px 15px rgb(211, 201, 201);
}

.post__userName {
  margin-top: 10px;
}

.post__deleteBtn {
  margin-top: 30px;
  width: 130px;
  color: aliceblue;
  font-size: large;
  background-color: #b6190e;
  border-radius: 5px;
  border: none;
  /* padding: 10px; */
}

.post__readMoreBtn {
  margin-top: 30px;
  width: 130px;
  color: aliceblue;
  font-size: large;
  background-color: #2e7b8c;
  border-radius: 5px;
  border: none;
  text-decoration: none;
}

.post__readMoreBtn:hover {
  text-decoration: none;
  color: aliceblue;
  background-color: #55bfd6;
}

.post__ownerBtns {
  display: flex;
  justify-content: space-around;
}
